body {
    background-color: blue;
    margin: auto;
    width: 40%;
}


.image {
    position: absolute;
    /* left: 80pt; */
    padding-left: 35pt;
    top:  30pt;
    width: 196pt;
    height: 74pt;
}

hr {
    margin-top: 20px;
    width: 300pt;
    margin-bottom: 20px;
    border: 0;
    margin-right: 745px;
    border-top: 1px solid #eee;
}

h5 {
    width: 235pt;
    /* height: 27pt; */
    font-size: 20pt;
    text-align: center;
    text-transform: uppercase;
    line-height: 27pt;
    color: rgb(255, 255, 255);
    padding-left: 60pt;
    padding-top: 100pt;
}

.para {
    width: 261pt;
    height: 40pt;
    font-size: 16pt;
    text-align: center;
    line-height: 19pt;
    color: rgb(255, 255, 255);
    padding-left: 45pt;
}

body {
    margin-top: 60px;
}

.slotwrapper {
    overflow: hidden;
    display: inline-block;
    margin-top: -80px;
    margin-left: 90px;
    height: 80px;
    padding-top: 3px;
}
.slotwrapper ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    float: left;
}
.slotwrapper ul {
    width: 63px;
    height:30px;
    font-size: 200px;
    line-height: 20px;
    text-align: center;
}
.slotwrapper ul li img {
    vertical-align: top;
    padding-top: 6px;
}

.panel {
    background-color: blue ;
    margin-top: -142px;
}

.spin-wheel {
    padding-left: 70pt;
}
.spin {
    width: 120pt;
    height: 42pt;
    border-radius: 4pt;
    background-color: rgb(255, 222, 0);
    letter-spacing: 1.6pt;
    /* opacity: 70%; */
}

#btn-example6 {
    width: 120pt;
    margin-top: 90px;
    margin-left: 90px;
    height: 42pt;
    border-radius: 4pt;
    background-color: rgb(255, 222, 0);
    letter-spacing: 1.6pt; 
    color: #000; 
}